@reference tailwind base;
@reference tailwind components;
@reference tailwind utilities;

/* Switch element */
.form-switch {
    position: relative; /* relative */
    user-select: none; /* select-none */
    width: 60px;
}

.form-switch label {
    display: block; /* block */
    overflow: hidden; /* overflow-hidden */
    cursor: pointer; /* cursor-pointer */
    height: 2rem; /* h-8 */
    border-radius: 9999px; /* rounded-full */
}

.form-switch label > span:first-child {
    position: absolute; /* absolute */
    display: block; /* block */
    border-radius: 9999px; /* rounded-full */
    width: 28px;
    height: 28px;
    top: 2px;
    left: 2px;
    right: 50%;
    transition: all .15s ease-out;
}

.form-switch input[type="checkbox"]:checked + label {
    background-color: #8D8DFF; /* bg-purple-600 */
}

.form-switch input[type="checkbox"]:checked + label > span:first-child {
    left: 30px;
}

