@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure dark background is applied */
body {
  background-color: #151719 !important; /* bg-gray-900 equivalent */
  color: #e5e7eb !important; /* text-gray-200 equivalent */
}

/* Additional Tailwind directives */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}
